@font-face {
  font-family: 'Inria';
  src: url(./InriaSans-Regular.ttf);
}

.opponentBoard {
  border-radius: 10px;
  margin-bottom: 0px;
}



.container {
  position: relative;
  width: 310px;
  height: 158px;
  color: black;
  background-color: #9ECD8E;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-top: 0px;
  margin-bottom: 0px;
}

.container2 {
  position: absolute;
  align-items: center;
}

.container2 img.cardImage {
  width: 20px;
  height: auto;
}

.label {
  text-align: left;
  color: #D4D6D5;
  font-size: 30px;
}

.labelname {
  text-align: left;
  color: #1f1f1f;
  margin: 0px;
  font-family: 'Inria';
  font-size: 20px;
  margin-top: -37px;
  position: relative;
  align-self: flex-start
}

.userIcon {
  height: 25px;
  text-align: left;
  color: #1f1f1f;
  margin: 0px;
  font-size: 15px;
  margin-top: -35px;
  margin-left: 10px;
  margin-right: -10px;
  position: relative;
  align-self: flex-start
}


.labelPoints {
  text-align: left;
  color: #9ECD8E;
  margin: 4px;
  font-size: 6px;
  margin-top: 10px;
  position: relative;
  align-self: flex-start
}

.opponentHistory {
  display: flex;
  flex-direction: row-reverse; /* Inverser l'ordre des cartes */
  border-radius: 20px;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  margin-top: 0px;
  margin-right: 50px;
}


.opponentHistory > * {
  margin-right: -55px;
}

.card{
  border-radius: 10px;
  margin-bottom: 0px;
  transition: transform 0.2s;
  user-select: none; /* Rend le contenu non sélectionnable */
}
