@font-face {
    font-family: 'Inria';
    src: url('./InriaSans-Regular.ttf') format('truetype');
  }

.status{
    width: 100px;
    height: 145px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.container2 {
    width: 100%;
    height: 100%;
    color: white;
    font-size: small;
    background-color: #4B957A;
    border-radius: 10px;
    margin-bottom: 0px;
    text-align: center;
  }
  .container2Me {
    width: 100%;
    height: 100%;
    color: white;
    font-size: small;
    background-color: #83ac75;
    border-radius: 10px;
    margin-bottom: 0px;
    text-align: center;
  }

  .container2 img.cardImage {
    width: 30px; 
    height: auto;
}

.container2Me img.cardImage {
    width: 20px; 
    height: auto;
}
  

  .label {
    font-family: 'Inria', sans-serif;
    text-align: left;
    color: #D4D6D5;
    font-size: 30px;
    letter-spacing: 1px;
  }

  .labelname {
    text-align: left;
    color: #1f1f1f;
    margin: 0px;
    font-size: 15px;
    position: relative;
    align-self: flex-start
    
  }

  .labelPoints {
    text-align: left;
    color: #e7e7e7;
    margin: 4px;
    font-size: 8px;
    margin-top: 10px;
    align-self: flex-start;
    letter-spacing: -8px;
    
  }
