@font-face {
  font-family: 'Inria';
  src: url('../PlayerStatus/InriaSans-Regular.ttf') format('truetype');
}

.cover{
  width: 90%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 2%;
  padding:40px;
  background-color: #9C968C;
  border-radius: 20px;

}

.pageLeft {
  width: 45%;
  height: 80%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 1%;
}

.pageRight {
  width: 45%;
  height: 80%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 49%;
  transition: transform 0.5s; /* Ajoute une transition pour l'animation */
  transform-style: preserve-3d; /* Indique que les transformations s'appliquent à l'élément et à ses enfants en 3D */
  transform-origin: left center; /* Point d'origine pour la rotation */
}

.pageAnimation {
  width: 45%;
  height: 80%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 49%;
  transition: transform 0.5s, opacity 0.5s; /* Ajoute une transition pour l'animation */
  transform-style: preserve-3d; /* Indique que les transformations s'appliquent à l'élément et à ses enfants en 3D */
  transform-origin: left center; /* Point d'origine pour la rotation */
  transform: rotateY(90deg); /* Initialisation de la rotation de 90 degrés */
  opacity: 0; /* Initialisation de l'opacité à 0 */
}

.pageAnimation.visible {
  transform: rotateY(0deg); /* Réinitialise la rotation à 0 degrés */
  opacity: 1; /* Définit l'opacité à 1 */
}

.label {
  position: fixed;
  top: 125px;
  left:0;
  right:0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #1f1f1f;
  margin: 4px;
  font-size: 30px;
  margin-top: 0px;
  font-family: 'Inria';  
  margin: 0;
}

.navigationButtons {
  margin-top: -150px;
  margin-bottom: 115px;
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.navigationButtons button {
  width: 1px;
}

.navigationButtons img {
  position: fixed;
  width: 30px; 
  height: auto; 
}

.navigationButtons img:hover:not(.disabled) {
  opacity: 0.5; 
}

.navigationButtons img.disabled {
  opacity: 0.1; 
  cursor: default;
}

.prevButton {
  position: fixed;
  top: 90%;
  left: 5%;
  rotate: 180deg;
}

.nextButton {
  position: fixed;
  top: 90%;
  left: 95%;
}

.navigationButtons img:hover{
  cursor: pointer;
}

