.container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  background-color: rgba(75, 149, 122, 0.5);
  border-radius: 40px;
}

.label{
  color: #1f1f1f;
  position: relative;
  top : 4%;
  margin: 4px;
  font-size: 20px;
}

.button{
  width: 75%;
  font-size: 20px;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  transition : background-color 0.2s;
  margin-bottom: 0px;
}

.button:hover {
  background-color: #2641278e;
  color: white;
}


.message{
  color: #173a13;
  font-size: 16px;
  margin-top: 10px;
}


.selected {
  background-color: #ccc;
  color: #888;
}