.container {
  width: 560px;
  height: 525px;
  position: fixed; 
  top: 57%;
  left: 75%;
  transform: translate(-50%, -50%); 
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
}

.label{
  color: #1f1f1f;
  margin: 4px;
  font-size: 20px;
  margin-top: 10px;
}

.label2{
  color: #1f1f1f;
  margin: 4px;
  font-size: 10px;
  margin-top: 10px;
}

.cardContainer {
  margin-top: 35px;
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.cardNumber {
  font-size: 14px;
  margin-top: 5px;
}

.separator {
  width: 100%; 
  margin-bottom: 10px; 
  border: none; 
  border-top: 1px solid #ccc;
}

.navigationButtons {
  margin-top: -150px;
  margin-bottom: 115px;
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.navigationButtons button {
  width: 100px;
}

.navigationButtons img {
  width: 30px; 
  height: auto; 
}


.prevButton {
  rotate: 180deg;
}


.navigationButtons img:hover{
  cursor: pointer;
}


