@font-face {
  font-family: 'Inria';
  src: url('../PlayerStatus/InriaSans-Regular.ttf') format('truetype');
}

.container {
  width: 560px;
  height: 525px;
  position: fixed; 
  top: 62%; 
  left: 20%; 
  transform: translate(-50%, -50%); 
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
}

.label{
  color: #1f1f1f;
  margin: 4px;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Inria'; 
}

.label2{
  color: #1f1f1f;
  margin: 4px;
  font-size: 10px;
  margin-top: 10px;
  font-family: 'Inria'; 
}

.cardContainer {
  margin-top: 10px;
  display: flex; 
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.cardNumber {
  font-size: 14px;
  margin-top: 5px;
}

.separator {
  width: 100%; 
  margin-bottom: 10px; 
  border: none; 
  border-top: 1px solid #ccc;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.modalContent {
  background-color: white;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.bigCard {
  transform: scale(3);
}

