@font-face {
    font-family: 'KulimFont';
    src: url('./KulimPark-Regular.ttf');
}
@font-face {
    font-family: 'JetBrainsFont';
    src: url('./JetBrainsMono-VariableFont_wght.ttf');
}

.card {
    padding-top: 1px;
    height: 153px;
    width: 102px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}
.card:hover{
    cursor: pointer;
}


.cardheader {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    background-color: rgba(53, 52, 52, 0.6);
    font-size: 4px;
    color: white;
    width: auto;
    height: 14px;
    display: flex;
    text-indent: -4px;
    align-items: center;
    font-family: 'JetBrainsFont', sans-serif;
    font-weight: 400;
    margin-bottom: -18px;
}
.cardheader h2 {
    font-size: 4.6px;
    font-weight: 800;
    padding-top: 12px;
    margin-bottom: 0px; /* Adjust margin bottom to bring h2 and h3 closer */
    color: rgb(255, 255, 255);
}

.cardheader h3 {
    text-indent: 4px;
    color: rgb(255, 255, 255);
    font-size: 4px;
    margin-top: 0;
    margin-bottom: 0; /* Adjust margin bottom to bring h2 and h3 closer */
}


.cardPoids p {
    color: black;
    font-family: 'KulimFont', sans-serif;
    font-size: 20px;
    font-weight:bold;
    padding-left: 23px;
    margin-bottom: -20px;
}

.cardbody p {
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 8px;
    font-family: 'JetBrainsFont', sans-serif;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 23px;
}

.icon img {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 7px;
    background-color: white;
    border: solid 2px white;
    border-radius: 50%;
    max-width: 18px;
    max-height: 18px;
}

.description{
    background-color: #D9D9D9;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    height: 105px;
}

.descriptionheader{
    background-color: rgba(53, 52, 52, 0.6);
    font-size: 4px;
    color: white;
    width: auto;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-indent: 3px;
    font-family: 'JetBrainsFont', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    box-shadow: 0px 1px 2px rgb(34, 34, 34);
}

.descriptionbody{
    height: 89px;
    align-items: start;
    display: flex;
    color: black;
    font-family: 'KulimFont', sans-serif;
    font-size: 4px;
    padding: 1px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 rgba(0, 0, 0, 0.2);

}
