.div {
  margin-bottom: 15px;
}

.label {
  color: #717171; /* Gardez la couleur gris */
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid lightgray;
  background-color: rgba(75, 149, 122, 0.5);
  color: rgba(255, 255, 255, 0.96);
  border-radius: 30px;
  text-indent: 30px;

}

.input:focus {
  outline: none;
  border: 1px solid #5cb85c; /* Bordure verte sur le focus */
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.364); 
  font-size: 14px;
}

.button {
  width: 170px;
  padding: 10px;
  background-color: #4b957a; /* Modifiez la couleur de fond */
  color: #000000;
  border: none;
  border-radius: 4px; /* Gardez la même valeur de border-radius */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 30px;
  margin-bottom: 40px;
}
.buttoninscr {
  width: 130px;
  padding: 10px;
  background-color: #4b957a; /* Modifiez la couleur de fond */
  color: #000000;
  border: none;
  border-radius: 4px; /* Gardez la même valeur de border-radius */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 30px;
  margin-bottom: 40px;
}

.buttonregister {
  width: 40%;
  padding: 10px;
  background-color: #4b957a; /* Modifiez la couleur de fond */
  color: #000000;
  font-size: smaller;
  border: none;
  border-radius: 4px; /* Gardez la même valeur de border-radius */
  cursor: pointer;
  margin-top: -4px;
  border-radius: 30px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2c5c4a; /* Modifiez la couleur de fond au survol */
}

.snackbar {
  background-color: rgb(254, 254, 254);
  width: 100%;
  border-radius: 30px;
  padding: 5px;
}

.snackbarButton {
  background-color: #f8f8f8;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  align-items: center;
}

.snackbarButton:hover {
  background-color: #ff0000;
}