div {
  margin-bottom: 15px;
}

.label {
  color: #717171; /* Gardez la couleur gris */
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid lightgray;
  background-color: rgba(75, 149, 122, 0.5);
  color: rgba(255, 255, 255, 0.96);
  border-radius: 30px;
  text-indent: 30px;

}

.input:focus {
  outline: none;
  border: 1px solid #5cb85c; /* Bordure verte sur le focus */
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.364); 
  font-size: 14px;
}

.button {
  width: 60%;
  padding: 10px;
  background-color: #4b957a; /* Modifiez la couleur de fond */
  color: #000000;
  border: none;
  border-radius: 4px; /* Gardez la même valeur de border-radius */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 30px;
  margin-bottom: 40px;
}

.buttonregister {
  width: 40%;
  padding: 10px;
  background-color: #4b957a; /* Modifiez la couleur de fond */
  color: #000000;
  font-size: smaller;
  border: none;
  border-radius: 4px; /* Gardez la même valeur de border-radius */
  cursor: pointer;
  margin-top: -4px;
  border-radius: 30px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2c5c4a; /* Modifiez la couleur de fond au survol */
}
