.container {
    width: 500px;
    color: black;
    font-size: small;
    background-color: rgba(75, 149, 122, 0.5);
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }
  
  .label {
    color: #1f1f1f;
    margin: 4px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .participant {
    color: #1f1f1f;
    margin: 4px;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    align-self: flex-start
  }
  .codeContainer {
    margin-bottom: 20px;
  }
  
  .code {
    color: #1f1f1f;
    font-size: 30px;
  }
  
  .button {
    width: 40%;
    font-size: 20px;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #2641278e;
    color: white;
  }
  