body {
    user-select: none; /* Rend le contenu non sélectionnable */
}


.container {
    width: 1510px; /* Utilise la largeur totale de l'écran */
    max-width: 1510px; /* Limite la largeur maximale du conteneur */
    height: 100%;
    max-height: 610px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0px;
    position: absolute;
    justify-content: center;
    top: 120px;
    left: 10px;
}

.darkBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.playerBoard {
    align-self: end;
    position: absolute;
    bottom: 0px;
}

.opponentBoardLeft {
    align-self: center;
    position: absolute;
    left: 0px;
    margin-bottom: 40px;
}
.opponentBoardRight {
    align-self: center;
    position: absolute;
    right: 0px;
    margin-bottom: 40px;
}

.opponentBoardTop {
    align-self: start;
    position: absolute;
    left: 40%;
    top: 44px;
}

.opponentBoardMPImpossible {
    filter: brightness(0.6);
    cursor: not-allowed;
}

.opponentBoardOk:hover{
    cursor: pointer;
    filter:drop-shadow(0 0 5px rgb(233, 209, 0));
}

.deck{
    position: relative;
    bottom: -370px;
    left: 600px;

}

.modalBackdrop {
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 9999; /* Définit la pile de l'élément au-dessus des autres */
  }
  
  .modalContent {
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10000; /* Assure que le contenu est au-dessus du backdrop */
    pointer-events: auto; /* Autorise les événements de pointer sur le contenu */
  }

  .quizzSensibilisation {
        position: fixed; /* Positionnement fixe pour le placer par-dessus le contenu */
        top: 50%; /* Le placer à 50% du haut de la fenêtre */
        left: 50%; /* Le placer à 50% de la largeur de la fenêtre */
        transform: translate(-50%, -50%); /* Centrer horizontalement et verticalement */
        z-index: 9999; /* Pour afficher au premier plan */
        width: 500px;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: small;
        padding: 20px;
        border-radius: 40px;
  }

  .quizzPractice {
    position: fixed; /* Positionnement fixe pour le placer par-dessus le contenu */
    top: 50%; /* Le placer à 50% du haut de la fenêtre */
    left: 50%; /* Le placer à 50% de la largeur de la fenêtre */
    transform: translate(-50%, -50%); /* Centrer horizontalement et verticalement */
    z-index: 9999; /* Pour afficher au premier plan */
    width: 1100px;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: small;
    padding: 20px;
    border-radius: 40px;
}
  