
body {
    overflow-y: hidden;
    user-select: none; /* Rend le contenu non sélectionnable */
}


.container {
    width: 1510px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0px;
    position:absolute;
    justify-content: center;
    top:135px;
    left: 10px;
}

.playerBoard {
    align-self: end;
    position: absolute;
    bottom: -15px;
}

.opponentBoardLeft {
    align-self: center;
    position: absolute;
    left: 0px;
}
.opponentBoardRight {
    align-self: center;
    position: absolute;
    right: 0px;
}

.opponentBoardTop {
    align-self: start;
    position: absolute;
    left: 40%;
    top: 10px;
}

.opponentBoardMPImpossible {
    filter: brightness(0.6);
    cursor: not-allowed;
}

.opponentBoardOk:hover{
    cursor: pointer;
    filter:drop-shadow(0 0 5px rgb(233, 209, 0));
}

.deck{
    position: absolute;
    bottom: -50px;
    right: 100px;
}
