.card {
  width: calc(100% / 7 - 20px);
  margin: 10px; 
  flex-grow: 1;
  min-width: 100px;
  max-width: 300px; 
}

.cardsContainer {
  width: 80%;
  margin: 0 auto;
  transform: scale(1.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; 
}

.container {
  margin-top: 200px; 
  padding-bottom: 50px; 
}

.navigationButtons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.navigationButtons img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}

.navigationButtons img.disabled {
  opacity: 0.1; 
}

.prevButton {
  transform: rotate(180deg); 
}


