.content {
  display: flex;
}

.imageContainer {
  flex: 1; /* Prend la moitié de l'espace */
}

.formContainer {
  flex: 1; /* Prend la moitié de l'espace */
  display: flex;
  justify-content: center; /* Centre horizontalement les éléments */
  align-items: center; /* Centre verticalement les éléments */
}

.image {
  width: 100%;
  height: auto; /* Pour maintenir les proportions de l'image */
}
