@font-face {
  font-family: 'Inria';
  src: url('../PlayerStatus/InriaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inria-bold';
  src: url('../PlayerStatus/InriaSans-Bold.ttf') format('truetype');
}

.container {
  width: 100%;
  height: 100%; 
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  background-color: #EBE2D3;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Inria';
  overflow-y: auto;
}

.label{
  color: #1f1f1f;
  margin: 4px;
  font-size: 20px;
  margin-top: 10px; 
}

.container p{
  color: #1f1f1f;
  margin: 20px;
  font-size: 16px;
  margin-top: 40px;
  font-family: 'Inria';
  text-align: left; 
}

.container strong {
  font-family: 'Inria-bold';
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
  background-color: #e8e8e8;
}

.table tr:hover {
  background-color: #dddddd;
}

.table th:hover {
  cursor: pointer;
}

.button {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px 4px;
}