.container {
  max-width: 400px;
  width: auto;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  background-color: #F8E0A3;
  padding: 20px;
  border-radius: 40px;
  margin: 0 auto; /* Centrer horizontalement */
}

.label {
  color: #1f1f1f;
  margin: 4px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center; /* Centrer le texte */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonContainer button {
  margin: 0 5px;
}

.button {
  width: 30%; /* Réduire la largeur */
  font-size: 16px; /* Réduire la taille du texte */
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  padding: 10px 15px; /* Réduire le padding */
  margin: 8px 0;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #FAEBD7;
  color: black;
}

.buttonDisabled {
  width: 40%; /* Réduire la largeur */
  font-size: 16px; /* Réduire la taille du texte */
  background-color: #ddd;
  color: rgb(0, 0, 0);
  padding: 10px 15px; /* Réduire le padding */
  margin: 8px 0;
  border: none;
  border-radius: 90px;
  cursor: not-allowed;
  transition: background-color 0.2s;
  pointer-events: none;
}

.message {
  color: #173a13;
  font-size: 16px;
  margin-top: 10px;
  text-align: center; /* Centrer le texte */
}
