.header {
    background-color: #A4C9BC;
    color: #fff;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.left img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.center {
    flex: 1;
    text-align: center;
}

.center img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.right img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.language-container img {
    width: 50px;
    height: auto;
}

