.board{
    display: flex;
    flex-direction: row;
    color: #000;
    border-radius: 5px;
    height: 220px;
    width: 830px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 0px;
}

.status{
    margin-bottom: 0px;
}

.hand{
    margin-bottom: 0px;
}

.handMyTurn{
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 0px 8px 20px rgba(19, 9, 90, 0.9);
}

.history{
    margin-bottom: 0px;
}

.namePlayer{
    align-self: center;
    margin-bottom: 0px;
    position:absolute;
    top:0px;
    left:30px;
    font-family: 'Inria';
    font-size: 20px;
}
.namePlayerMyTurn{
    align-self: center;
    margin-bottom: 0px;
    position:absolute;
    top:-10px;
    left:30px;
    font-size: 30px;
    font-family: 'Inria';
    color: rgb(2, 2, 87);
}

.lockerIcon{
    height: 20px;
    text-align: left;
    color: #1f1f1f;
    margin: 0px;
    font-size: 15px;
    margin-right: -10px;
    position: absolute;
    align-self: flex-start;
}

.fond{
    position: fixed;
    left: 0;
    top: 0;
    width: 1000%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
  }

  .closeButton{
    transform: scale(1);
    background-color: #4B957A;
    color: white;
    position: fixed;
    right: 50px;
    top: 180px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    z-index: 100;
    border-radius: 30px;
  }
  .closeButton:hover{
    background-color: #295344;
  }